<div>
    <h1>Lista Productos: 
        <p class="listaProductos"> {{productsData}}
            
        </p>
    </h1>
</div>

<script src="/socket.io/socket.io.js"></script>   <!-- Permite instanciar el socket desde el lado del cliente -->
<script src="js/index.mjs"></script> <!-- vinculamos logica JS del cliente, para que este disponible en la renderizacion del lado del servidor -->
















